html {
  height: 100%;
  font-family: 'Source Code Pro', monospace;
}

body, html {
  height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../img/background.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgtext {
  text-align: center;
  height: 100%;
  padding: 25%;
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 70px;
}