html {
  height: 100%;
  /*overflow-y: hidden;*/
}

body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("./img/background.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  text-align: center;

  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 70px;
}