{% extends "layout.html" %}


<!-- Title Name -->
{% block title %}
    Jeroen hobo
{% endblock %}

{% block body %}
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-12 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../static/img/jordan.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Jordan</h5>
              <p class="card-text">The Hashemite Kingdom of Jordan, a sovereign Arab state in western Asia, on the East Bank of the Jordan River.</p>
              <a href="#" class="btn btn-primary">Travel</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../static/img/cambodia.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cambodia</h5>
              <p class="card-text">The Kingdom of Cambodia, a sovereign state located in the southern portion of the Indochina Peninsula in Southeast Asia</p>
              <a href="#" class="btn btn-primary">Travel</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="../static/img/ecuador.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ecuador</h5>
              <p class="card-text">The Republic of Ecuador, a representative democratic republic in northwestern South America.</p>
              <a href="#" class="btn btn-primary">Travel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}